@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #FFD8BE;
  
  h1, h2 {
    color:aqua; 
  }

  header {
    display: grid;
    text-align: center;
    background-color: #2980B9;
    justify-content: space-between;
  }

  header div {
    text-align: center;
    object-fit: cover;
    object-position: center; 
    z-index: 5;
  }

  header div:nth-of-type(1) {
    grid-row: 1 / 5;
    grid-column: 1 /2;
  }
  
  header img {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    height: 360px;
  }

  header div:nth-of-type(2) {
    grid-row: 1 / 5;
    grid-column: 3 / 4;
  }

  nav {
    grid-row: 5 / 6;
    grid-column: 1 / 4;
    padding: 1rem 0;

    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 900;
      color: rgb(224, 248, 8);
    }
  }

  footer {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;

    svg {
      width: 50px;
      height: 50px;
      fill: #2980B9;
    }
  }
}
