@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#SportsCarsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: larger;

  h1 {
    width: 115%;
    text-align: center;
    color: rgb(156, 58, 74);
  }

  #infos {
    width: 45%;
    margin-left: 20px;
  }

  #links {
    width: 45%;
    display: flex;
    flex-direction: column;
  }

  a.button {
    font-size: 1.6rem;
    margin: 0 400px;
    padding: 10px 20px;
    font-size: 20px;
    color: rgb(51, 42, 177);
    border-radius: 1px;
    background-color: rgb(196, 171, 243);
    background-size: 5px 5px;
    width: 100px;
    height: 50px;
  }

  .img-container {
    width: 400px;
    height: 210px;
    margin-left: 20px;

    img {
      width: 100%;
      height: auto;
      border-radius: 5%;
    }
  }
}
